Данный бот предназначен для личного использования.
Вы можете искать фильмы на определенных порталах воспользовавшись командой /start
Бот выдаст вам варианты, по которым можно получить magnet ссылку.

{% if is_admin %}
/torrent_settings - команда настроек списка трекеров
{% else %}
{% endif %}
