👋 Привет, <b>{{ name }}!</b>
{% if is_admin %}
Тут можно посмотреть скачанные торренты, поискать новые или просто кинуть мне magnet ссылку для начала скачивания.
{% else %}
Начнем работу?
{% endif %}
